<%= render partial: "shared/navbar" %>

<div>
  <h1> <%= "Welcome to the TEST POS SYSYEM WEBSITE" %> </h1>
  <h1> <%= "Grab all your test merchandise here before it disappears!!" %> </h1>
</div>

<div>
  <p> <%= "This is a test website for a point of sale system." %> </p> 
  <p> <%= "All sales are final, and all merchandise is fake." %> </p>
</div>